@model MagicVillaWeb.Model.DTO.LoginRequestDTO

<h1>Login</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="UserName" type="text" placeholder="Username..." />
    <input asp-for="Password" type="text" placeholder="Password..." />
    <button type="submit" value="Submit">Loging</button>

</form>

@section Script{

    <partial name="_ValidationScriptsPartial" />
} 